# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.DS_Store

# Solidity
artifacts/
cache/
build/
*.tsbuildinfo

# Truffle
truffle-config.js
truffle.js

# Hardhat
typechain/
coverage/
coverage.json
gasReporterOutput.json
*.dbg.json

# VSCode
.vscode/

# Misc
*.log
.idea/
*.sublime-workspace
*.sublime-project
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
